<mat-grid-list cols="2" rowHeight="50px">
  <mat-grid-tile>
    <div class="titulo">
      <h1>Pedidos</h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button (click)="newPedido()">
      Novo Pedido
      <i class="material-icons">
        add
      </i>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<ul class="list">
  <li *ngFor="let pedido of pedidos$">
    <a
      style="font-size: 1.5em;"
      [routerLink]=""
      (click)="viewPedido(pedido.Id)"
    >
      {{ "Pedido: " + pedido.Id + " Cliente: " + pedido.Cliente.Nome }}
    </a>

    <ul class="">
      <li class="li-desc">
        Condição de Pagamento: {{ pedido.CondicaoPagamento.Descricao }}
      </li>
      <li class="li-desc">Preço: {{ pedido.ValorLiquido }}</li>
      <li style="padding-left: 10px;">
        <button mat-button (click)="editPedido(pedido.Id)">
          <i class="material-icons">
            edit
          </i>
        </button>
        <button mat-button class="text-red" (click)="removePedido(pedido.Id)">
          <i class="material-icons">
            delete_forever
          </i>
        </button>
      </li>
    </ul>
  </li>
</ul>
