@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.full-width {
  width: 100%;
}

.titulo {
  width: 100%;
}

.m-r-10 {
  margin-right: 10px;
}

.nav-list {
  list-style-type: none;
  display: table;
}

.nav-list li {
  display: table-cell;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
}

.nav-anchor {
  display: block;
  padding: 1em;
}

.active {
  background-color: blueviolet;
}

.display-data {
  padding-left: 5px !important;
}

.text-red {
  color: #d43e3e;
}

.hidden {
  display: none !important;
}

.input-xs {
  width: 5%;
}

.input-sm {
  width: 15%;
}

.input-mm {
  width: 20%;
}

.input-md {
  width: 25%;
}

.input-md {
  width: 35%;
}

/* #container {
  display: grid;
  grid-template-columns: 70px auto;
  height: 100%;
} */
#container #content {
  padding: 30px 50px;
}
#container #content .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#container #content .list li {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 8px;
}
#container #content .list li a {
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
  color: #00a8ff;
}
#container #content .list li ul {
  margin-top: 20px;
}
#container #content .list li ul li {
  padding: 0;
  display: table-cell;
  text-align: center;
}
#container #content .list li ul li a {
  font-size: 1em;
  font-weight: 300;
}
