<mat-grid-list cols="2" rowHeight="50px">
  <mat-grid-tile>
    <div class="titulo">
      <h1>Condições de Pagamento</h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button (click)="newCondicao()">
      Nova Condição
      <i class="material-icons">
        add
      </i>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<ul class="list">
  <li *ngFor="let condicao of condicoes$">
    <ul class="nav-list">
      <li>
        <a
          style="font-size: 1.5em;"
          [routerLink]=""
          (click)="viewCondicao(condicao.Id)"
          >{{ condicao.Descricao }}</a
        >
      </li>
      <li>
        <button mat-button (click)="editCondicao(condicao.Id)">
          <i class="material-icons">
            edit
          </i>
        </button>
        <button mat-button class="text-red" (click)="removeClient(condicao.Id)">
          <i class="material-icons">
            delete_forever
          </i>
        </button>
      </li>
    </ul>
  </li>
</ul>
